<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Vue App</title>
    {% if app_env == "production" %}
    <link rel="stylesheet" href="/static/css/app.css">
    {% endif %}
  </head>
  <body>
      
    <div id="app"></div>
    <!-- built files will be auto injected -->
    {% if app_env == "production" %}
    <script type=text/javascript src=/static/js/manifest.js></script>
    <script type=text/javascript src=/static/js/vendor.js></script>
    <script type=text/javascript src=/static/js/app.js></script>
    {% else %}
    <script type="text/javascript" src="http://localhost:3000/app.js"></script>
    {% endif %}
  </body>
</html>
