[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.0"
django-extensions = "==2.0.7"
django-disposable-email-checker = "==1.2.1"
djangorestframework = "==3.8.2"
django-rest-knox = "==3.1.4"
gunicorn = "==19.8.1"
"psycopg2" = "==2.7.3"
whitenoise = "==3.3.1"
raven = "==6.1.0"
python-dateutil = "==2.6.1"

[dev-packages]
mock = "==2.0.0"
factory-boy = "==2.11.1"
prospector = "==0.12.7"
bandit = "==1.4.0"
pytest = "==3.5.1"
pytest-cov = "==2.5.1"
pytest-django = "==3.2.1"
pytest-pythonpath = "==0.7.2"
pytest-xdist = "==1.22.0"
ptpython = "==0.41"
pylint = "*"

[requires]
python_version = "3.6"
